td.bedework_datetime {
  white-space: nowrap;
  padding-right: 10px;
}

td.bedework_label {
  vertical-align: top;
  padding-right: 10px;
}

/* Default List Styles */
li.bedework_list_event,
li.bedework_more,
li.bedework_list_event li{
    list-style: none;
}

li.bedework_list_event {
    margin-bottom: 10px;
}

#block-hum-bedework-hum-bedework-teaser ol {
    padding: 0px;
}

span.bedework_list_date,
span.bedework_list_time {
  white-space: nowrap;
}
